/* Responsividade para dispositivos móveis */
@media only screen and (max-width: 768px) {


    .primeiro-login {
        justify-content: center;
    }

    .primeiro-login02 {
        width: 90vw; /* O formulário ocupa 100% da largura em dispositivos móveis */
        max-width: 350px;

        margin: 0; /* Remove as margens */
        padding: 20px; /* Ajusta o padding para telas menores */
        background-color: #B1C4CC;

    }

    .btn-entrar {
        width: 100%; /* O botão de entrar ocupa toda a largura em dispositivos móveis */
    }

    .botao-voltar {
        position: absolute;
        display: flex;
    
    
    }

}


/* Responsividade para dispositivos móveis (até 480px) */
@media only screen and (max-width: 480px) {

    .primeiro-login {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
        height: 100vh; /* Garante que ocupe a altura total da tela */
        padding: 10px; /* Adiciona um pouco de padding */
    }

    .primeiro-login02 {
        width: 100%; /* O formulário ocupa toda a largura */
        max-width: 300px; /* Define um limite de largura para não ficar tão largo */
        padding: 20px; /* Reduz o padding em telas menores */
        margin: auto; /* Centraliza horizontalmente */
        padding: 5px;
        background-color: #B1C4CC;
        border-radius: 8px; /* Um arredondamento mais suave */
        position: relative;
        display: flex;
        flex-direction: column; /* Garante que os elementos sejam alinhados em coluna */
        justify-content: center; /* Centraliza o conteúdo dentro do formulário */
        align-items: center;
    }

    .header-primeirologin img {
        width: 70px; /* Reduz o tamanho da imagem em dispositivos menores */
        height: 70px;
        margin-bottom: 15px;
    }

    .campo-input {
        width: 100%;
        margin-bottom: 10px; /* Reduz o espaçamento entre os campos */
    }

    .campo-input input, 
    .campo-input select {
        font-size: 14px; /* Ajusta o tamanho da fonte dos campos */
        padding: 8px; /* Reduz o padding dos campos de input */
    }

    .btn-entrar {
        width: 100%; /* O botão de entrar ocupa toda a largura */
        padding: 10px; /* Aumenta o padding para torná-lo mais clicável */
        font-size: 14px; /* Reduz um pouco o tamanho da fonte */
        margin-top: 20px; /* Reduz o espaçamento superior */
    }

    .botao-voltar {
        top: 10px; /* Ajusta a posição do botão de voltar */
        left: 10px;
        font-size: 14px; /* Ajusta o tamanho da fonte */
        padding: 8px 12px; /* Reduz o padding do botão */
    }

    .flash-messages {
        margin-top: 10px; /* Ajusta o espaçamento da mensagem flash */
    }
}