/* 
- Media Queries para Responsividade
- Estilos aplicados para telas com largura máxima de 768px (tablets e dispositivos médios)
- Altera a direção do flexbox para coluna dentro do container
- Ajusta a largura e margens dos containers de saídas e estoque
- Aumenta o tamanho dos ícones de verificação e alerta
- Ajusta a posição e escala dos ícones de verificação e alerta
- Adiciona margem à esquerda do container
*/
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .container-saidas,
    .container-estoque {
        width: 85%;
        margin: 10px 0;
    }

    .fa-check,
    .fa-exclamation {
        font-size: 20px;
    }

    .fa-check {
        right: 10px;
        top: 10px;
        transform: scale(1.5 , 1.5);
    }

    .fa-exclamation {
        right: 10px;
        top: 10px;
        transform: scale(1.5 , 1.5);
    }
    
    .container{
        margin-left: 35px;
    }
}

/* 
- Media Queries para telas pequenas (máximo de 480px)
- Reduz o tamanho dos ícones de verificação e alerta
- Ajusta o tamanho da fonte da tabela para melhor leitura em telas menores
*/
@media (max-width: 480px) {
    .fa-check,
    .fa-exclamation {
        font-size: 18px;
    }

    table {
        font-size: 14px; /* Reduz o tamanho da fonte da tabela */
    }
}
