
/* Estilos para telas grandes (PCs e notebooks) */
@media (min-width: 1024px) {
    .primeiro-login {
        flex-direction: row;
        padding: 40px;
    }

    .banner-primeirologin {
        flex: 1;
        max-width: 600px;
        background: url('/static/img/fotoprimeirologin.jpg') no-repeat center center;
        background-size: cover;
        margin-right: 40px;
    }

    .primeiro-login02 {
        max-width: 500px;
    }
}

/* Media Queries para Tornar a Página Responsiva */

/* Telas Médias (Tablets) */
@media (max-width: 768px) {
    .cadastro {
        background-color: var(--branco); /* Mantém o fundo verde */
        height: auto; /* Permite o conteúdo expandir verticalmente */
        padding: 20px;
    }

    .campo-cadastro {
        background-color: var(--cinza-azulado); /* Mantém o fundo verde no campo de cadastro */
        padding: 20px; /* Ajusta o padding para telas menores */
        border-radius: 0; /* Remove bordas arredondadas */
        max-width: 100%; /* Ocupa toda a tela */
        height: 100vh; /* O campo de cadastro ocupará toda a altura da tela */
    }

    .input_estoque {
        flex-direction: column; /* Inputs empilhados verticalmente */
    }

    .input_estoque input {
        width: 100%; /* Inputs ocupam 100% da largura no modo coluna */
    }

    .btn-cadastro {
        font-size: 1.4rem;
        padding: 12px;
    }
}

/* Telas Pequenas (Celulares) */
@media (max-width: 480px) {
    .cadastro {
        background-color: var(--cinza-azulado); /* Mantém o fundo verde */
        height: auto; /* Permite o conteúdo expandir verticalmente */
        padding: 10px;
    }

    .campo-cadastro {
        background-color: var(--cinza-azulado); /* Mantém o fundo verde no campo de cadastro */
        padding: 10px; /* Ajusta o padding para telas menores */
        border-radius: 0; /* Remove bordas arredondadas */
        max-width: 100%; /* Ocupa toda a tela */
        height: 100vh; /* O campo de cadastro ocupará toda a altura da tela */
    }

    .titulo-cadastro h2 {
        font-size: 2rem;
    }

    .input_nome input,
    .input-descricao input,
    .input_categoria select {
        padding: 12px;
        font-size: 1.4rem;
    }

    .input_estoque input {
        padding: 12px;
        font-size: 1.4rem;
    }

    .btn-cadastro {
        font-size: 1.4rem;
        padding: 10px;
    }
}