/* 
- Media Queries para dispositivos móveis e tablets
- Estilos aplicados para telas com largura máxima de 1024px
- Oculta o banner em tablets e celulares
- Ajusta o layout de login para ocupar toda a tela e centraliza o conteúdo
- Define o campo de login com fundo, padding e flexbox para centralização
- Ajusta o formulário de login e seus elementos internos, como o título e botões
*/
@media (max-width: 1024px) {
    .banner {
        display: none; 
    }
    
    .login {
        width: 100vw;  
        height: 100vh;  
        justify-content: center;  
        align-items: center;  
    }
    
    .campo-login {
        width: 100vw;  
        height: 100vh; 
        padding: 20px;  
        background-color: rgba(177, 196, 204, 1); 
        display: flex;  
        justify-content: center; 
        align-items: center;  
        box-shadow: none; 
        border-radius: 0;  
    }

    .form-login {
        width: 90%; 
        margin: 0 auto; 
    }

    .titulo-login h3 {
        font-size: 22px;
        margin-bottom: 20px; 
    }

    .form-login input {
        padding: 10px;
    }

    .btn-login {
        width: 70%;
        font-size: 14px;  
        padding: 10px 15px;  
    }

    .primeiro-login a, .esqueceu-senha a {
        font-size: 14px; 
        padding: 10px;
    }
}

/* 
- Media Queries para telas com largura máxima de 768px
- Ajusta o padding do campo de login e o tamanho do título
- Modifica a largura do botão e do formulário de login
- Ajusta o tamanho da fonte dos inputs
*/
@media (max-width: 768px) {
    .campo-login {
        width: 100vw;  
        height: 100vh; 
        padding: 15px;  
    }

    .titulo-login h3 {
        font-size: 20px; 
    }

    .btn-login {
        width: 80%;  
    }

    .form-login {
        width: 100%;  
    }

    .form-login input {
        font-size: 14px;  
    }
}

/* 
- Media Queries para telas com largura máxima de 480px
- Ajusta o padding do campo de login e o tamanho do título para dispositivos muito pequenos
- Define a largura do botão e do formulário de login para se ajustar melhor à tela
*/
@media (max-width: 480px) {
    .campo-login {
        width: 100vw;  
        height: 100vh; 
        padding: 10px;  
    }

    .titulo-login h3 {
        font-size: 18px;  
    }

    .form-login {
        width: 100%;  
    }

    .btn-login {
        width: 90%;  
    }
}
