/* Estilos para telas grandes (PCs e notebooks) */
@media (min-width: 1024px) {
    .input_nome,
    .input-descricao,
    .input_categoria {
        margin-bottom: 30px;
    }

    .input_estoque {
        margin-bottom: 30px;
        gap: 20px;
    }

    .input_estoque input {
        width: 48%;
    }
}

/* Estilos para tablets e dispositivos médios */
@media (max-width: 1023px) {
    .input_nome,
    .input-descricao,
    .input_categoria {
        margin-bottom: 25px;
    }

    .input_estoque {
        display: flex;
        flex-direction: column; /* Colocar inputs um abaixo do outro */
        margin-bottom: 25px;
        gap: 15px; /* Espaçamento entre os inputs no modo empilhado */
    }

    .input_estoque input {
        width: 100%; /* Inputs ocupam 100% da largura no modo coluna */
    }
}

/* Estilos para celulares e dispositivos pequenos */
@media (max-width: 767px) {

    input::placeholder, 
    select::placeholder {
        color: #000000; /* Cor mais escura para melhor visibilidade */
        font-size: 18px; /* Aumenta o tamanho da fonte em telas menores */
    }

    .input_nome,
    .input-descricao,
    .input_categoria {
        margin-bottom: 20px;
    }

    .input_estoque {
        flex-direction: column;
        margin-bottom: 20px;
        gap: 10px;
    }

    .input_estoque input {
        width: 100%;
    }
    
    /* Ajustando o padding para telas menores */
    .input_nome input,
    .input-descricao input,
    .input_categoria select,
    .input_estoque input {
        padding: 15px; /* Padding menor para inputs em dispositivos menores */
    }
}
