<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface Almoxarifado</title>
    <link rel="stylesheet" href="/static/styles/admin.css">
    <link rel="icon" href="/static/img/login-img/Inventlogo.png">
    <script src="{{ url_for('static', filename='darkmode js/darkmode.js') }}" defer></script>
    <script src="/static/javascript/darkmode.js"></script>
</head>
<body>
    {% include '/dashboard/dashboard.html' %}
    <div class="darkmode">
        <img src="/static/img/lua.png" alt="Modo Escuro" id="lua-icon">
        <img src="/static/img/sol.png" alt="Modo Claro" class="none" id="sol-icon">
    </div>

    <!-- Primeira sessão: Solicitação para Almoxarife -->
    <div class="gerenciamento">
        <h2>Solicitação para Almoxarife</h2>
        {% set usuarios_nao_verificados = usuarios | selectattr('cargo', 'equalto', 'almoxarifado-nao-verificado') | list %}

        {% if usuarios_nao_verificados %}
            <table class="tabela-solicitacao" id="tabelaUsuarios">
                <thead>
                    <tr>
                        <th>Nome do Solicitante</th>
                        <th>Código SN</th>
                        <th>Email</th>
                        <th>Id</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios_nao_verificados %}
                    <tr data-usuario-id="{{ usuario.id }}">
                        <td>{{ usuario.nome }}</td>
                        <td>{{ usuario.sn }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.id }}</td>
                        <td>
                            <!-- Formulário para Aprovar -->
                            <form action="{{ url_for('aprovar_usuario') }}" method="POST">
                                <input type="hidden" name="user_id" value="{{ usuario.id }}">
                                <button class="aprovado" type="submit">APROVAR</button>
                            </form>

                            <!-- Formulário para Excluir -->
                            <form action="{{ url_for('excluir_usuario') }}" method="POST">
                                <input type="hidden" name="user_id" value="{{ usuario.id }}">
                                <button class="excluir" type="submit">EXCLUIR</button>
                            </form>

                            <!-- Botão para Editar -->
                            <button class="editar" onclick="openModal({{ usuario.id }}, '{{ usuario.nome }}', '{{ usuario.email }}', '{{ usuario.sn }}', '{{ usuario.cargo }}')">EDITAR</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p style="font-size: 16px;">Não há solicitações pendentes para Almoxarifado.</p>
        {% endif %}
    </div>

    <!-- Segunda sessão: Gerenciar Usuários -->
    <div class="gerenciamento">
        <h2>Gerenciar Usuários</h2>

        <!-- Select para escolher o usuário -->
        <select class="select-usuario" id="selectUsuario" onchange="filtrarUsuariosTabela()">
            <option value="">Usuario desejado</option>
            {% for usuario in usuarios %}
                <option value="{{ usuario.id }}">{{ usuario.nome }}</option>
            {% endfor %}
        </select>
        
        <table class="tabela-solicitacao" id="tabelaUsuarios">
            <thead>
                <tr>
                    <th>Nome do Solicitante</th>
                    <th>Código SN</th>
                    <th>Email</th>
                    <th>Id</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr data-usuario-id="{{ usuario.id }}">
                    <td>{{ usuario.nome }}</td> <!-- Exibindo o nome do usuário -->
                    <td>{{ usuario.sn }}</td> <!-- Exibindo o código SN -->
                    <td>{{ usuario.email }}</td> <!-- Exibindo o email -->
                    <td>{{ usuario.id }}</td> <!-- Exibindo o ID -->
                    <td>
                        <!-- Formulário para Excluir -->
                        <form action="{{ url_for('excluir_usuario') }}" method="POST">
                            <input type="hidden" name="user_id" value="{{ usuario.id }}">
                            <button class="excluir" type="submit">EXCLUIR</button>
                        </form>

                        <!-- Botão para Editar -->
                        <button class="editar" onclick="openModal({{ usuario.id }}, '{{ usuario.nome }}', '{{ usuario.email }}', '{{ usuario.sn }}', '{{ usuario.cargo }}')">EDITAR</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal de edição -->
    <div id="editModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Editar Perfil</h2>
            <form id="editForm" action="{{ url_for('editar_usuario') }}" method="POST">
                <input type="hidden" name="user_id" id="modalUserId">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="modalNome" required><br><br>

                <label for="email">Email:</label>
                <input type="email" name="email" id="modalEmail" required><br><br>

                <label for="sn">Código SN:</label>
                <input type="text" name="sn" id="modalSn"><br><br>

                <label for="cargo">Cargo:</label>
                <select name="cargo" id="modalCargo">
                    <option value="almoxarifado">Almoxarifado</option>
                    <option value="admin">Admin</option>
                </select><br><br>

                <label for="senha">Senha:</label>
                <input type="password" name="senha" id="modalSenha" required><br><br>

                <button type="submit">Salvar Alterações</button>
            </form>
        </div>
    </div>

    <script>
        // Função para filtrar a tabela de usuários ao selecionar um no select
        function filtrarUsuariosTabela() {
            var select = document.getElementById("selectUsuario");
            var usuarioId = select.value;  // Obter o valor selecionado
            var rows = document.querySelectorAll("#tabelaUsuarios tbody tr");  // Todas as linhas da tabela

            // Iterar sobre as linhas da tabela
            rows.forEach(function(row) {
                // Obter o ID do usuário da linha
                var rowUsuarioId = row.getAttribute("data-usuario-id");

                if (usuarioId === "" || rowUsuarioId === usuarioId) {
                    row.style.display = "";  // Mostrar a linha
                } else {
                    row.style.display = "none";  // Ocultar a linha
                }
            });
        }

        // Função para abrir o modal e preencher os campos com os dados do usuário
        function openModal(id, nome, email, sn, cargo) {
            document.getElementById("modalUserId").value = id;
            document.getElementById("modalNome").value = nome;
            document.getElementById("modalEmail").value = email;
            document.getElementById("modalSn").value = sn;
            document.getElementById("modalCargo").value = cargo;
            document.getElementById("editModal").style.display = "block";
        }

        // Função para fechar o modal
        function closeModal() {
            document.getElementById("editModal").style.display = "none";
        }

        // Fechar o modal quando clicar fora do modal
        window.onclick = function(event) {
            if (event.target == document.getElementById("editModal")) {
                closeModal();
            }
        }
    </script>
</body>
</html>
