<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interface Almoxarifado</title>
    <link rel="stylesheet" href="/static/styles/solicitacao.css">
    <link rel="icon" href="/static/img/login-img/Inventlogo.png">
    <script src="{{ url_for('static', filename='darkmode js/darkmode.js') }}" defer></script>


</head>
<body>
    <div class="darkmode">
        <img src="lua.png" alt="Modo Escuro" id="lua-icon">
        <img src="sol.png" alt="Modo Claro" class="none" id="sol-icon">
    </div>
    <!-- Primeira sessão: Solicitação para Almoxarife -->
    <div class="gerenciamento">
        <h2>Solicitação para Almoxarife</h2>
        <table class="tabela-solicitacao">
            <thead>
                <tr>
                    <th>Nome do Solicitante</th>
                    <th>Código SN</th>
                    <th>Email</th>
                    <th>Id</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="btn-gerenciar">
                        <button class="aprovado">APROVAR</button>
                        <button class="excluir">EXCLUIR</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Segunda sessão: Gerenciar Usuários -->
    <div class="gerenciamento">
        <h2>Gerenciar Usuários</h2>
        <select class="select-usuario">
            <option>Usuario desejado</option>
        </select>
        <table class="tabela-solicitacao">
            <thead>
                <tr>
                    <th>Nome do Solicitante</th>
                    <th>Código SN</th>
                    <th>Email</th>
                    <th>Id</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="btn-gerenciar">
                        <button class="excluir">EXCLUIR</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

<body>
    {% include '/dashboard/dashboard.html' %}
    <h1>Painel de Administração</h1>

    <!-- Container para Aprovação de Solicitações de Almoxarife -->
    <div class="container">
        <h2>Aprovar Solicitações de Almoxarife</h2>
        <table>
            <thead>
                <tr>
                    <th>Nome do Solicitante</th>
                    <th>Código SN</th>
                    <th>Email</th>
                    <th>Cargo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios if usuario.cargo == 'almoxarifado-nao-verificado' %}
                    <tr>
                        <td>{{ usuario.nome }}</td>
                        <td>{{ usuario.sn }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.cargo }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('aprovar_usuario') }}">
                                <input type="hidden" name="user_id" value="{{ usuario.id }}">
                                <button type="submit" class="btn-approve">Aprovar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Container para Gerenciar Usuários -->
    <div class="container">
        <h2>Gerenciar Usuários</h2>
        <table>
            <thead>
                <tr>
                    <th>Nome do Usuário</th>
                    <th>Código SN</th>
                    <th>Email</th>
                    <th>Cargo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.nome }}</td>
                        <td>{{ usuario.sn }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.cargo }}</td>
                        <td>
                            <button class="btn-edit" 
                                onclick="openModal('{{ usuario.id }}', '{{ usuario.nome }}', '{{ usuario.email }}', '{{ usuario.cargo }}', '{{ usuario.sn }}')">Editar</button>
                            <form id="deleteUserForm{{ usuario.id }}" method="POST" action="{{ url_for('excluir_usuario') }}">
                                <input type="hidden" name="user_id" value="{{ usuario.id }}">
                                <button type="button" class="btn-danger" onclick="confirmDelete({{ usuario.id }})">Excluir</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal para editar o usuário -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Editar Usuário</h2>
            <form method="POST" action="{{ url_for('admin') }}">
                <input type="hidden" id="editUserId" name="user_id">
                <label for="editUserNome">Nome:</label>
                <input type="text" id="editUserNome" name="nome" required placeholder="Insira o nome">
                <label for="editUserEmail">Email:</label>
                <input type="email" id="editUserEmail" name="email" required placeholder="Insira o email">
                <label for="editUserSn">Código SN:</label>
                <input type="text" id="editUserSn" name="sn" required placeholder="Insira o Código SN">
                <label for="editUserCargo">Cargo:</label>
                <input type="text" id="editUserCargo" name="cargo" required placeholder="Insira o cargo">
                <label for="editUserSenha">Senha:</label>
                <input type="password" id="editUserSenha" name="senha" placeholder="Insira a senha">
                <button type="submit" id="modal-btn">Salvar Alterações</button>
            </form>
        </div>
    </div>

    <script>
        function confirmDelete(userId) {
            Swal.fire({
                title: "Você tem certeza?",
                text: "Essa ação não poderá ser revertida!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Sim, excluir!"
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('deleteUserForm' + userId).submit();
                }
            });
        }

        function openModal(userId, nome, email, cargo, sn) {
            document.getElementById('editUserId').value = userId;
            document.getElementById('editUserNome').value = nome;
            document.getElementById('editUserEmail').value = email;
            document.getElementById('editUserSn').value = sn;
            document.getElementById('editUserCargo').value = cargo;
            document.getElementById('editModal').style.display = "block";
        }

        function closeModal() {
            document.getElementById('editModal').style.display = "none";
        }

        window.onclick = function(event) {
            const modal = document.getElementById('editModal');
            if (event.target === modal) {
                closeModal();
            }
        }
    </script>
</body>
</html>
</html>
