<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/medias/media-login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/variaveis.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <div class="container-menu">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
    </div>
    
    <div class="login-container">
        <div class="login-box">
            <div class="conteudo">
                <h1>Faça seu login<span>.</span></h1>
                <form action="/login" method="POST">
                    <div class="input-box">
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="exemplo@gmail.com" required>
                    </div>
                    <div class="input-box">
                        <label for="senha">Senha</label>
                        <input type="password" id="senha" placeholder="**********" required >
                    </div>
                    <a href="#" class="forgot-password">Esqueci a senha?</a>
                    <button type="submit">Entrar</button>
                </form>
                <a href="{{ url_for('primeiro_login') }}"><p class="register">Ainda não tenho uma conta</p></a>
            </div>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='img/fotoprimeirologin.jpg') }}" alt="Imagem de fundo">
        </div>
    </div>
</body>
</html>
