<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página de primeiro login para acessar o sistema de inventário.">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/primeiro-login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/variaveis.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/medias/media-primeirologin.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='2.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='img/logoinvent+.png') }}">
</head>

<body>

    <!-- Seção de mensagens de flash -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <section class="primeiro-login">
        <div class="banner-primeirologin">
            <!-- <img src="/static/img/fotoprimeirologin.jpg" alt="Banner de Primeiro Login"> -->
        </div>

        <div class="primeiro-login02">
            <div class="header-primeirologin">
                <img src="/static/img/logoinvent+.png" alt="Superlist Logo" class="logo">  
                <h1>CADASTRO</h1>
            </div>

            <form action="{{ url_for('primeiro_login') }}" method="POST">  
                <div class="inputs">
                    <div class="campo-input">
                        <i class="fas fa-user"></i>
                        <input type="text" id="sn" name="sn" placeholder="Código SN" required>
                    </div>
                </div>

                <div class="campo-input">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>

                <div class="campo-input">
                    <i class="fas fa-user"></i>
                    <select id="areas-senai" name="areas-senai">
                        <option value="">Selecione uma área</option>
                        <option value="eletroeletronica">Eletroeletrônica</option>
                        <option value="metalmecanica">Metalmecânica</option>
                        <option value="metalurgia">Metalurgia</option>
                        <option value="automobilistica">Automobilística</option>
                        <option value="madeira-mobiliario">Madeira e Mobiliário</option>
                        <option value="gestao">Gestão</option>
                        <option value="almoxarifado">Almoxarifado</option>
                        <option value="tecnologia-da-informacao">Tecnologia da Informação</option>
                        <option value="meio-ambiente-seguranca">Meio Ambiente e Segurança</option>
                        <option value="alimentos-bebidas">Alimentos e Bebidas</option>
                    </select>
                </div>

                <div class="campo-input">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="password" name="password" placeholder="Senha" required>          
                    <i class="fas fa-eye toggle-password" aria-label="Toggle password visibility"></i>
                </div>

                <p class="password-hint">Senha com no mínimo 8 caracteres</p>
                <button class="btn-entrar" type="submit">ENTRAR</button>
                <p class="terms"></p>
                <p>Já tem uma conta? <a href="{{ url_for('solicitante') }}">Login</a></p>
            </form>
        </div>

        <script>
            const togglePassword = document.querySelector('.toggle-password');
            const passwordInput = document.getElementById('password');

            togglePassword.addEventListener('click', function() {
                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);
                this.classList.toggle('fa-eye-slash');
            });
        </script>
    </section>
</body>
</html>
