<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/primeiro-login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/medias/media-primeirologin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/variaveis.css') }}">
    <script src="https://kit.fontawesome.com/19648b4beb.js" crossorigin="anonymous"></script> 
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

    <div class="container-menu">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        <h1 class="login-menu">Cadastre-se<span>.</span></h1>
        <div class="container-voltar">

            
            </div>
    </div>
    <div class="login-container">
        
        <div class="login-box">
            <div class="conteudo">
                <a class="voltar" href="{{ url_for('login') }}">
                    <i class="fa-solid fa-arrow-right"></i>
                </a>
                <h1 class="login-full">Cadastre-se<span>.</span></h1>
                <form action="{{ url_for('primeiro_login') }}" method="POST">
                    <div class="input-box">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" placeholder="exemplo@gmail.com" required>
                    </div>
                
                    <div class="input-box">
                        <label for="senha">Senha</label>
                        <input type="password" id="senha" name="password" placeholder="**********" required>
                    </div>
                
                    <div class="input-box">
                        <label for="sn">Código SN</label>
                        <input type="text" id="sn" name="sn" placeholder="3416" required>
                    </div>
                
                    <div class="input-box">
                        <label for="areas-senai">Área de Interesse</label>
                        <select id="areas-senai" name="areas-senai" required>
                            <option value="">Selecione uma área</option>
                            <option value="eletroeletronica">Eletroeletrônica</option>
                            <option value="metalmecanica">Metalmecânica</option>
                            <option value="metalurgia">Metalurgia</option>
                            <option value="automobilistica">Automobilística</option>
                            <option value="madeira-mobiliario">Madeira e Mobiliário</option>
                            <option value="gestao">Gestão</option>
                            <option value="almoxarifado">Almoxarifado</option>
                            <option value="tecnologia-da-informacao">Tecnologia da Informação</option>
                            <option value="meio-ambiente-seguranca">Meio Ambiente e Segurança</option>
                            <option value="alimentos-bebidas">Alimentos e Bebidas</option>
                        </select>
                    </div>

                    <button type="submit">Cadastrar</button>
                </form>
                <a href="{{ url_for('login') }}"><p class="register">Possui uma conta?</p></a>
            </div>
        </div>
        <div class="image-container">
            <img src="{{ url_for('static', filename='img/fotoprimeirologin.jpg') }}" alt="Imagem de fundo">
        </div>
    </div>
    <script>
        const togglePassword = document.querySelector('.toggle-password');
        const passwordInput = document.getElementById('password');

        togglePassword.addEventListener('click', function() {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });


    document.addEventListener('DOMContentLoaded', function() {
        const voltarBtn = document.getElementById('container-voltar');

        voltarBtn.addEventListener('click', function() {
            // Substitua o URL abaixo pelo URL para onde você deseja redirecionar
            window.location.assign("{{ url_for('login') }}");
        });
        
    });

    </script>
</body>
</html>
