<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao Almoxarifado</title>
    <!-- Link para o arquivo de estilo -->
    <link rel="stylesheet" href="/static/styles/banner.css">
</head>
<body>
    <!-- Banner principal -->
    <div class="banner" id="banner">
        <!-- Contêiner para animação de caixinhas -->
        <div class="caixinhas-container" id="caixinhas-container"></div>
        <!-- Texto de boas-vindas -->
        <h1>Seja Bem-Vindo ao Invent +</h1>
        <!-- Botão de continuação -->
        <a id="continuarBtn" class="continuarBtn" href="{{ url_for('login') }}">Continuar</a>
    </div>

    <!-- Link para o arquivo de script -->
    <script src="/static/javascript/banner.js"></script>
</body>
</html>
