<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aguardando Liberação</title>
    <link rel="stylesheet" href="/static/styles/espera.css">
    <link rel="stylesheet" href="/static/styles/medias/media-espera.css">
    <script src="/static/javascript/darkmode.js"></script>
  
</head>
<body>
    <div class="darkmode">
        <img src="/static/img/lua.png" alt="Modo Escuro" id="lua-icon">
        <img src="/static/img/sol.png" alt="Modo Claro" class="none" id="sol-icon">
    </div>

    <div class="container-espera">
        <div class="conteudo-espera">
            <div class="img-espera">
                <img src="/static/img/imagem-espera.gif" alt="">
            </div>
        <div class="texto-espera">
            <h1>Aguardando Liberação</h1>
            <p>Seu acesso está aguardando aprovação do administrador.</p>
            <p>Por favor, entre em contato para mais informações.</p>
            <a>almoxarifadoinvent@gmail.com</a>
            <a href="{{ url_for('solicitante') }}" class="btn">Voltar para o Login</a>
        </div>
    </div>
</body>
</html>
