<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invent +</title>
    <link rel="stylesheet" href="/static/styles/index.css">
    <link rel="stylesheet" href="/static/javascript/index.js">
    <script src="/static/javascript/darkmode.js"></script>
</head>
<body>
    {% include '/dashboard/dashboard.html' %}
    <div class="darkmode">
        <img src="/static/img/lua.png" alt="Modo Escuro" id="lua-icon">
        <img src="/static/img/sol.png" alt="Modo Claro" class="none" id="sol-icon">
    </div>
    <div class="banner">
        <h1 class="invent-plus visible">Por onde deseja começar?</h1>
        <div class="botoes">
            <button class="btn visible"><a href="{{ url_for('historico') }}">Histórico</a></button>
            <button class="btn visible"><a href="{{ url_for('cadastro_material') }}">Cadastro Material</a></button>
            <button class="btn visible"><a href="{{ url_for('controle_estoque') }}">Controle de Estoque</a></button>
            <button class="btn visible"><a href="{{ url_for('relatorios') }}">Relatórios</a></button>
            
            <button class="btn visible"><a href="{{ url_for('requisicao_material_admin') }}">Requisição Material</a></button>
        </div>
    </div>
</body>
</html>