<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação de Senha</title>
    <link rel="stylesheet" href="/static/styles/recuperacao_senha.css">
    <link rel="stylesheet" href="/static/styles/medias/media-recuperacao_senha.css">
    <script src="/static/darkmode js/darkmode.js"></script>
    <script src="/icone.js" defer></script> <!-- Adicione defer para garantir que o JS seja carregado após o HTML -->
    <link rel="icon" href="/static/img/login-img/Inventlogo.png">

</head>
<body>
    {% include 'componentes.html' %}
    <div class="container-geral">
    <div class="darkmode">
        <img src="/static/img/lua.png" alt="Modo Escuro" id="lua-icon">
        <img src="/static/img/sol.png" alt="Modo Claro" class="none" id="sol-icon">
        <div class="container-degrade">
        </div>
    </div>

    <div class="container1">
        <div class="container2"></div>

    <div class="container-senha">
        <!-- Formulário para recuperação de senha -->
        <form class="form-senha" method="POST">
            <div class="titulo">
                <img src="/static/img/logoinvent+.png" alt="">
                <h2>Recuperação de Senha</h2>
            </div>

            <div class="inputBox">
                <input class="input-senha" type="text" name="sn_email" required>
                <span>Código SN | E-mail</span>
                <button class="btn-recuperacao" type="submit">Enviar Link de Redefinição</button>

            </div>

            <!-- Link para voltar ao login -->
            <div class="voltar-login">
                <a href="{{ url_for('login') }}" class="button">Voltar ao Login</a>
            </div>
        </form>
    </div>
</div>
</div>
<script>
        $(document).ready(function() {
        if ($('.alert').length > 0) {
            setTimeout(function() {
                window.location.href = '/esquecer_senha';  // Redireciona após 3 segundos
            }, 3000);
        }

        $(".alert-close").click(function() {
            $(this).closest(".alert").fadeOut();
        });
    });
</script>
</body>
</html>
