/* 
- Normalização do Navegador
- Remove margens, padding, bordas, e estilizações padrão dos elementos
- Define a fonte padrão para todos os elementos
- Ajusta box-sizing para border-box, garantindo que bordas e padding sejam incluídos no tamanho total dos elementos
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: 'Amatic SC', sans-serif;
}

/* 
- Normalização do html
- Define largura e altura como 100% da viewport
- Ajusta o tamanho da fonte base (1rem = 10px)
- Remove a barra de rolagem horizontal
*/
html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow: hidden;
}

/* 
- Estilo para o contêiner principal de cadastro
- Define layout flexível, centraliza o conteúdo horizontal e verticalmente
- Ocupa a largura e altura totais da tela
*/
.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* 
- Estilo para o campo de cadastro
- Define layout flexível, centraliza o conteúdo
- Adiciona cor de fundo, padding e bordas arredondadas
*/
.campo-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(177, 196, 204, 1);
    padding: 50px;
    border-radius: 8px;
}

/* 
- Estilo para o formulário de cadastro
- Define margem inferior, alinhamento do texto, largura e altura fixas
*/
.form-cadastro {
    margin-bottom: 50px;
    text-align: left;
    width: 80rem;
    height: 50rem;
}

/* 
- Estilo para o título do cadastro com logo
- Define layout flexível, centraliza vertical e horizontalmente
- Adiciona padding à direita
*/
.titulo-cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 70px;
}

/* 
- Estilo para a imagem no título do cadastro
- Define largura e altura da imagem
- Adiciona margem à direita da logo
*/
.titulo-cadastro img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

/* 
- Estilo para o título do cadastro
- Ajusta o tamanho da fonte e remove a margem inferior
*/
.titulo-cadastro h2 {
    font-size: 24px;
    margin-bottom: 0;
}

/* 
- Estilos gerais para o placeholder de inputs e selects
- Define cor e tamanho da fonte para placeholders
*/
input::placeholder, 
select::placeholder {
    color: #000000;
    font-size: 16px;
}

/* 
- Estilos para os campos de entrada
- Define layout flexível, margem inferior e largura total
*/
.input_nome,
.input-descricao,
.input_categoria {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
}

/* 
- Estilos para inputs e selects dentro dos campos de entrada
- Define largura total, padding, bordas arredondadas e tamanho da fonte
*/
.input_nome input,
.input-descricao input,
.input_categoria select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* 
- Estilo para o bloco de estoque
- Define layout flexível, espaçamento entre inputs e alinhamento vertical
*/
.input_estoque {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    gap: 20px;
}

/* 
- Estilo para inputs dentro do bloco de estoque
- Define largura, padding, bordas arredondadas e tamanho da fonte
*/
.input_estoque input {
    width: 48%;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* 
- Estilo para o botão de cadastro
- Define layout flexível, largura, tamanho da fonte, padding, cor de fundo, e cor do texto
- Adiciona bordas arredondadas e margem
*/
.btn-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgba(0, 126, 180, 1);
    color: white;
    border-radius: 5px;
    margin: 30px auto 0;
}

/* 
- Estilo para o botão de cadastro ao passar o mouse sobre ele
- Altera a cor de fundo e aplica um efeito de aumento
*/
.btn-cadastro:hover {
    background-color: rgba(0, 100, 150, 1);
    transform: scale(1.05);
}
