/* Normalização do Navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}

/* HTML e Body */
html, body {
    height: 100%;
    font-family: 'Amatic SC', cursive; /* Exemplo de fonte, adicione a fonte que preferir */
    background-color: var(--cinza-claro);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

:root{
    --cinza: #ffffff;
    --dark: #04050D;
    --fundo : #aab5ca;
    --fundodark  : #465E8C;
    --fonte : #000;
    --fontedark : #fff;
}


body.light-mode {
    background-color: var(--cinza);
    color: var(--fonte);
}
body.dark-mode {
    background-color: var(--dark);
    color: var(--fontedark)
}
.none {
    display: none;
}
.darkmode img {
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    width: 40px;
    height: 40px;
    margin: 5px 5px;
}

.darkmode img.none {
    opacity: 0; /* Ícone oculto */
    transform: scale(0.8); /* Reduz um pouco o tamanho */
}

.darkmode .sol-icon{
    background-color: var(--fontedark);
}



/* Certifique-se de que essas regras estejam no final do seu CSS para garantir que sejam aplicadas corretamente */
body.dark-mode {
    background-color: var(--dark);
    color: var(--fontedark);
}

.dark-mode #sol-icon {
    filter: brightness(0) invert(1); 
}

.dark-mode .campo-material{
    background-color: var(--fundodark);
}
.material {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px; /* Adicionado padding para evitar que o conteúdo fique colado nas bordas */
}

.campo-material {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(70, 94, 140, 0.51);
    padding: 50px;
    border-radius: 30px;
    max-width: 900px;
    width: 100%;
    height: 80%;
}

.form-material {
    text-align: left;
    width: 100%;
}

.titulo-material{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: -50px;
    margin-bottom: 60px;
    font-size: 3.5rem;
}

.input-material{
    font-weight: bolder;
    color: black;
}

/* Define o estilo para os campos de entrada de texto */
.input-material[type="text"] {
width: 100%;
padding: 15px;
margin: 10px 0;
border: none;
border-radius: 10px;
background-color: #f4f4f4;
font-size: 14px;
}

.select-categoria {
    width: 100%;
    padding: 15px;
    margin-top: 10px;
    border-radius: 9px;
    box-sizing: border-box; /* garante que padding não afete a largura */
}

.input-material[type="number"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background-color: #f4f4f4;
    font-size: 14px;
}

/* Define a linha contendo os campos de estoque mínimo e máximo */
.estoques {
    display: flex;
    justify-content: space-between;
}

/* Ajusta a largura dos campos de número na mesma linha */
.input-material[type="number"] {
    width: 48%;
}

/* Estiliza o botão de submissão */
.btn-material {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 90px;
    background-color: rgba(25, 35, 64, 1);
    transition: all 0.3s ease;
}

/* Define o comportamento do botão quando o cursor passa sobre ele */
.btn-material:hover {
    background-color: rgba(25, 35, 64, 0.8); /* Cor mais clara ou outra cor quando o mouse estiver sobre o botão */
    transform: scale(1.05);
}