/* Estilo da Seção do Formulário */
.form-section {
    width: 90%; /* Ajustado para um pouco mais de espaço nas laterais */
    max-width: 1000px;
    background-color: #a8b4cc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 40px; /* Aumentado o padding para mais espaçamento interno */
    margin: 5% auto; /* Adicionado espaçamento automático para centralizar verticalmente */   
    max-height: 80vh; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra suave para dar profundidade */
}

/* Estilo do Formulário */
form {
    width: 100%;
    background-color: transparent; /* Removida cor de fundo do formulário */
}

/* Estilo do Título Principal */
.form-section h1 {
    margin: 15px 0;
    color: var(--preto);
    font-size: 32px; /* Aumentado o tamanho da fonte para mais destaque */
    text-align: center; /* Centralizado o texto */
}

/* Estilo dos Subtítulos */
.form-section h2 {
    color: var(--cinza);
    font-size: 24px; /* Aumentado o tamanho da fonte para uma hierarquia clara */
    text-align: start; /* Centralizado o texto */
    margin-top: 20px; /* Adicionado espaçamento superior */
}

/* Estilo dos Campos de Seleção */
select {
    width: calc(100% - 22px);
    padding: 14px; /* Aumentado o padding para mais conforto */
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid var(--cinza-azulado);
    font-size: 16px; /* Ajustado o tamanho da fonte para consistência */
    background-color: #f5f5f5; /* Fundo claro para melhorar a visibilidade */
}

/* Estilo dos Campos de Entrada de Número */
input {
    width: 100%; /* Ajustado para alinhar com o campo select */
    padding: 14px; /* Aumentado o padding para mais conforto */
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid var(--cinza-azulado);
    font-size: 16px; /* Ajustado o tamanho da fonte para consistência */
    background-color: #f5f5f5; /* Fundo claro para melhorar a visibilidade */
}

/* Estilo dos Botões */
button {
    width: 15%;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--azul-escuro);
    color: var(--branco);
    border-radius: 5px;
    transition: all 0.3s ease, transform 0.2s ease;
}

/* Estilo do Botão ao Passar o Mouse */
button:hover {
    background-color: var(--azul-escuro);
    transform: scale(1.05); /* Adicionado um leve efeito de aumento */
}

/* Container para Botões */
.container-btn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

/* Flash Messages */
.flash-messages {
    position: fixed;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 90%; /* Ajuste a largura conforme necessário */
    max-width: 400px; /* Limite a largura máxima */
    text-align: center; /* Centraliza o texto */
    font-size: 18px;
}

/* Estilo das Mensagens */
.flash {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

.flash.error {
    background-color: #e74c3c; /* Vermelho */
}

.flash.success {
    background-color: #2ecc71; /* Verde */
}
