body {
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto;
    padding: 20px;
}

.container-saidas,
.container-estoque {
    background-color: #4BBF85;
    color: white;
    width: calc(45% - 20px);
    border-radius: 10px;
    text-align: start;
    margin: 10px;
    position: relative;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.container-estoque {
    background-color: #E35F64;
}

.table {
    background-color: transparent;

    margin: 30px auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

table {
    border-collapse: collapse;

}

.historico{
    color: black;
    align-items: center;
    display: flex;
    margin-left: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

thead {
    background-color: #333;
    color: white;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}

caption {
    font-size: 24px;
    padding: 10px;
    text-align: center;
    color: #333;
    font-weight: bold;
}

section span {
    font-size: 32px;
    color: white;
}

section a {
    color: white;
    text-decoration: none;
}

section h3 {
    margin: 0;
}

.fa-check,
.fa-exclamation {
    position: absolute;
    font-size: 24px;
}

.fa-check {
    right: 10px;
    top: 10px;
}

.fa-exclamation {
    right: 10px;
    top: 10px;
}


.container-estoque{
    width: 100%;
}