/* Normalização do Navegador */
* {
    margin: 0;  /* Remove a margem padrão dos elementos */
    padding: 0;  /* Remove o padding padrão dos elementos */
    box-sizing: border-box;  /* Inclui bordas e padding no cálculo do tamanho total dos elementos */
    list-style: none;  /* Remove a estilização de listas (marcadores) */
    text-decoration: none;  /* Remove o sublinhado de links */
    border: none;  /* Remove bordas padrão */
    font-family: 'Amatic SC', sans-serif;  /* Define a fonte padrão */
}

/* Normalização do html */
html {
    width: 100vw;  /* Define a largura como 100% da viewport */
    height: 100vh;  /* Define a altura como 100% da viewport */
    font-size: 62.5%;  /* Ajusta o REM para 10px (1rem = 10px) */
    overflow: hidden;  /* Remove a barra de rolagem horizontal */
}

/* Estilos para a classe de login */
.login {
    display: flex;  /* Define o layout flexível */
    width: 100vw;  /* Ocupa a largura total da tela */
    height: 100vh;  /* Ocupa a altura total da tela */
}

/* Estilos para a área de banner */
.banner {
    width: 70%;  /* Define a largura do banner em 70% */
}

.banner img {
    width: 100%;  /* Imagem ocupa toda a largura */
    height: 100%;  /* Imagem ocupa toda a altura */
}

/* Estilos para o campo de login */
.campo-login {
    display: flex;  /* Layout flexível */
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;  /* Centraliza verticalmente */
    background-color: rgba(177, 196, 204, 1);  /* Cor de fundo */
    width: 30%;  /* Ocupa 30% da largura */
    height: 100%;  /* Ocupa toda a altura */
}

/* Estilos do formulário de login */
.form-login {
    margin-bottom: 15px;  /* Margem inferior */
    text-align: left;  /* Alinhamento do texto à esquerda */
    width: 32rem;  /* Largura fixa para o formulário */
}

/* Título do login */
.titulo-login {
    display: flex;  /* Layout flexível */
    align-items: center;  /* Alinha ao centro verticalmente */
    justify-content: center;  /* Alinha ao centro horizontalmente */
}

.titulo-login h3 {
    font-size: 24px;  /* Tamanho da fonte do título */
    margin-bottom: 30px;  /* Margem inferior */
}

/* Oculta os rótulos dos inputs */
.form-login label {
    display: none;  /* Esconde o label */
}

/* Estilos dos inputs de login */
.form-login input {
    width: 100%;  /* Largura total */
    padding: 12px;  /* Espaçamento interno */
    border: 1px solid #ccc;  /* Borda fina e cinza */
    border-radius: 4px;  /* Bordas arredondadas */
    margin-top: 5px;  /* Margem superior */
}

/* Link de "esqueceu a senha" */
.esqueceu-senha a {
    color: rgb(0, 0, 0);  /* Cor preta */
    font-size: 12px;  /* Tamanho da fonte */
    font-weight: bold;  /* Texto em negrito */
    margin-bottom: 30px;  /* Margem inferior */
    text-decoration: underline;  /* Sublinhado */
    display: block;  /* Exibe como bloco */
}

/* Estilos do botão de login */
.btn-login {
    display: flex;  /* Layout flexível */
    justify-content: center;  /* Centraliza horizontalmente */
    align-items: center;  /* Centraliza verticalmente */
    width: 50%;  /* Largura de 50% */
    font-size: 15px;  /* Tamanho da fonte */
    padding: 10px 20px;  /* Espaçamento interno */
    cursor: pointer;  /* Muda o cursor ao passar sobre o botão */
    background-color: rgba(0, 126, 180, 1);  /* Cor de fundo */
    color: white;  /* Cor do texto */
    border-radius: 5px;  /* Bordas arredondadas */
    margin: 30px auto 0;  /* Centraliza o botão e adiciona margem */
}

/* Link para "primeiro login" */
.primeiro-login a {
    color: rgb(0, 0, 0);  /* Cor preta */
    font-size: 12px;  /* Tamanho da fonte */
    font-weight: bold;  /* Negrito */
    margin-bottom: 30px;  /* Margem inferior */
    text-decoration: underline;  /* Sublinhado */
    display: block;  /* Exibe como bloco */
    margin: 30px auto 0;  /* Margem superior */
}
