/* 
- Normalização do Navegador
- Remove margens, padding e bordas padrão
- Inclui bordas e padding no cálculo do tamanho total dos elementos
- Remove estilização de listas e links
- Define a fonte padrão
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: 'Amatic SC', sans-serif;
}

/* 
- Normalização do html
- Define largura e altura como 100% da viewport
- Ajusta o REM para 10px (1rem = 10px)
- Remove a barra de rolagem horizontal
*/
html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow: hidden;
}

/* 
- Estilos para a classe de login
- Define layout flexível para centralizar o conteúdo
- Ocupa toda a largura e altura da tela
- Define posição relativa para o overlay do banner
*/
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* 
- Estilos para a área de banner
- Ocupa a tela inteira com posição absoluta
- Define uma imagem de fundo com sobreposição
*/
.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(rgba(32, 32, 32, 0.8), rgba(34, 34, 34, 0.8)), url(/static/img/banner.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* 
- Estilos para a imagem dentro do banner
- Garante que a imagem cubra toda a área do banner
*/
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

/* 
- Estilos para o campo de login
- Define um fundo colorido e centraliza o conteúdo
- Adiciona padding e bordas arredondadas
*/
.campo-login {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(177, 196, 204, 1);
    padding: 50px;
    border-radius: 8px;
}

/* 
- Estilos do formulário de login
- Define largura fixa e margem inferior
- Alinha o texto à esquerda
*/
.form-login {
    margin-bottom: 50px;
    text-align: left;
    width: 32rem;
}

/* 
- Estilo do título do login com logo
- Define layout flexível para centralizar o conteúdo
- Adiciona padding à direita
*/
.titulo-login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 70px;
}

/* 
- Estilo para a imagem dentro do título de login
- Define tamanho e margem à direita da logo
*/
.titulo-login img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

/* 
- Estilo para o título dentro do formulário de login
- Define tamanho da fonte e remove margem inferior
*/
.titulo-login h3 {
    font-size: 24px;
    margin-bottom: 0;
}

/* 
- Estilo para ocultar rótulos dos inputs
- Define display como none para esconder os labels
*/
.form-login label {
    display: none;
}

/* 
- Estilos dos inputs de login
- Define largura total, padding, borda e bordas arredondadas
- Adiciona margem superior
*/
.form-login input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

/* 
- Estilo para o link de "esqueceu a senha"
- Define cor, tamanho da fonte, negrito, margem inferior e sublinhado
- Exibe como bloco
*/
.esqueceu-senha a {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: underline;
    display: block;
}

/* 
- Estilos do botão de login
- Define layout flexível, largura, tamanho da fonte e padding
- Define cor de fundo, cor do texto e bordas arredondadas
- Adiciona margem e efeitos de hover
*/
.btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgba(0, 126, 180, 1);
    color: white;
    border-radius: 5px;
    margin: 30px auto 0;
}

.btn-login:hover {
    background-color: rgba(0, 100, 150, 1);
    transform: scale(1.05);
}

/* 
- Estilo para o link de "primeiro login"
- Define cor, tamanho da fonte, negrito, margem inferior e sublinhado
- Exibe como bloco e adiciona margem superior
*/
.primeiro-login a {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: underline;
    display: block;
    margin: 30px auto 0;
}
