/* 
- Reset básico para garantir uma aparência consistente
- Remove margens, padding e bordas padrão
- Define altura total para body e html
- Define a fonte padrão e remove barra de rolagem horizontal
*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
    text-decoration: none;
}

/* 
- Estilos para o botão de voltar
- Posiciona o botão no canto superior esquerdo
- Define cor de fundo, bordas arredondadas e padding
- Adiciona transição para a cor de fundo ao passar o mouse
*/
.botao-voltar {
    position: absolute;
    top: 20px; 
    left: 20px; 
    background-color: #FFFFFF; 
    border-radius: 5px; 
    padding: 10px 15px; 
    display: flex; 
    align-items: center; 
    text-decoration: none; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
}

.botao-voltar a {
    text-decoration: none;
}

.botao-voltar i {
    margin-right: 8px; 
}

.botao-voltar:hover {
    background-color: #005B99; 
}

/* 
- Estilo para a imagem no header de primeiro login
- Define largura e altura da imagem
*/
.header-primeirologin img {
    width: 90px;
    height: 90px;
}

/* 
- Estilos para o banner de primeiro login
- Ocupa toda a tela com posição absoluta
- Define imagem de fundo e sobreposição
*/
.banner-primeirologin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(rgba(31, 30, 30, 0.8), rgba(23, 22, 22, 0.8)), url(/static/img/fotoprimeirologin.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* 
- Estilo para a imagem dentro do banner de primeiro login
- Garante que a imagem cubra toda a área
*/
.banner-primeirologin img {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

/* 
- Estilos para o campo de entrada com ícone de senha
- Define margem direita para o ícone
- Alinha o campo de entrada e o ícone
*/
.campo-input.password i {
    margin-right: 30px; 
}

/* 
- Estilos para o campo de entrada
- Define margem inferior e exibe o ícone
- Adiciona padding e posiciona o ícone de alternância
*/
.campo-input label {
    display: block;
    margin-bottom: 5px;
}

.campo-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

.campo-input {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative; 
}

.campo-input i {
    margin-right: 10px;
    font-size: 18px; 
}

.campo-input .toggle-password {
    position: absolute;
    right: 10px; 
    font-size: 18px; 
    cursor: pointer; 
    color: #aaa; 
}

/* 
- Estilos para o campo de seleção
- Define largura, padding e bordas arredondadas
*/
.campo-input select {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    font-size: 16px; 
    box-sizing: border-box; 
}

/* 
- Estilos para o botão de entrar
- Define layout flexível, largura, tamanho da fonte e padding
- Define cor de fundo, cor do texto e bordas arredondadas
- Adiciona efeitos de hover com transição suave
*/
.btn-entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgba(0, 126, 180, 1);
    color: white;
    border-radius: 5px;
    margin: 30px auto 0;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.btn-entrar:hover {
    background-color: rgba(0, 100, 150, 1); 
    transform: scale(1.05); 
}

/* 
- Estilos para a seção de primeiro login
- Define layout flexível para centralizar o conteúdo
- Define altura total da viewport e centraliza a imagem de fundo
*/
.primeiro-login {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-size: cover; 
    background-position: center; 
}

/* 
- Estilos para o formulário centralizado
- Define largura máxima, cor de fundo, padding e bordas arredondadas
- Adiciona sombra ao redor e centraliza o texto
*/
.primeiro-login02 {
    width: 100%;
    max-width: 400px;
    background-color: #B1C4CC; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    position: absolute;
}

/* 
- Estilos para o header dentro do formulário de primeiro login
- Define layout flexível para centralizar a imagem
*/
.header-primeirologin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.header-primeirologin img {
    width: 90px;
    height: 90px;
}
