
/* 
   Reset básico para garantir uma aparência consistente
   - Remove a margem e padding padrão.
   - Define a altura como 100%.
   - Define a fonte padrão e remove o overflow e decoração de texto.
*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow: hidden;
    text-decoration: none;
}

/* 
   Estilos para o botão de voltar
   - Define a posição absoluta para o botão.
   - Define cor de fundo, bordas arredondadas, padding e estilo de transição.
   - Alinha o texto e ícones dentro do botão.
*/
.botao-voltar {
    position: absolute;
    top: 20px; 
    left: 20px; 
    background-color: var(--branco); 
    border-radius: 5px; 
    padding: 10px 15px; 
    display: flex; 
    align-items: center; 
    text-decoration: none; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
}

.botao-voltar a {
    text-decoration: none;
}

.botao-voltar i {
    margin-right: 8px; /* Espaçamento entre o ícone e o texto */
}

.botao-voltar:hover {
    background-color: var(--azul-escuro); /* Cor de fundo ao passar o mouse */
}

/* 
   Estilos para a imagem no header do primeiro login
   - Define o tamanho da imagem do header.
*/
.header-primeirologin img {
    width: 90px;
    height: 90px;
}

/* 
   Estilos para o banner do primeiro login
   - Define a posição absoluta para cobrir toda a tela.
   - Define a cor de fundo com gradiente e uma imagem.
   - Define o z-index para ficar atrás do conteúdo do login.
*/
.banner-primeirologin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(rgba(31, 30, 30, 0.8), rgba(23, 22, 22, 0.8)), url(/static/img/fotoprimeirologin.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.banner-primeirologin img {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

/* 
   Estilos para os campos de entrada de senha e ícones
   - Define o espaçamento entre o ícone e o campo de entrada.
*/
.campo-input.password i {
    margin-right: 30px; 
}

/* 
   Estilos para os rótulos e inputs dentro dos campos
   - Define o estilo dos rótulos e inputs.
*/
.campo-input label {
    display: block;
    margin-bottom: 5px;
}

.campo-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--cinza);
    border-radius: 4px;
    font-size: 16px;
}

/* 
   Estilos gerais para os campos de entrada
   - Define o layout dos campos de entrada com ícones e alternância de senha.
*/
.campo-input {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative; /* Adiciona contexto para posicionar o ícone de alternância */
}

.campo-input i {
    margin-right: 10px;
    font-size: 18px; /* Ajusta o tamanho do ícone conforme necessário */
}

.campo-input .toggle-password {
    position: absolute;
    right: 10px; /* Ajusta a posição do ícone para não sobrepor o texto do campo */
    font-size: 18px; /* Ajuste o tamanho do ícone conforme necessário */
    cursor: pointer; /* Indica que o ícone é clicável */
    color: var(--cinza-escuro); /* Ajusta a cor do ícone para melhor visibilidade */
}

.campo-input select {
    width: 100%; 
    padding: 10px; 
    border: 1px solid var(--cinza); 
    border-radius: 4px; 
    font-size: 16px; 
    box-sizing: border-box; 
}

/* 
   Estilos para o botão de entrar
   - Define o layout flexível, largura, padding, cor de fundo, cor do texto e bordas arredondadas.
   - Adiciona transição suave para o efeito de hover.
*/
.btn-entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--azul-claro);
    color: var(--branco);
    border-radius: 5px;
    margin: 30px auto 0;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease; /* Adiciona transição suave */
}

.btn-entrar:hover {
    background-color: var(--azul-escuro); /* Cor de fundo ao passar o mouse */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho */
}

/* 
   Seção de login com imagem de fundo e centralização
   - Define um layout flexível para centralizar o conteúdo horizontal e verticalmente.
   - Define a altura total da viewport e centraliza a imagem de fundo.
*/
.primeiro-login {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da viewport */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem de fundo */
}

/* 
   Formulário centralizado com limite de largura
   - Define a largura máxima, cor de fundo, padding, bordas arredondadas e sombra.
   - Centraliza o texto dentro do formulário.
*/
.primeiro-login02 {
    width: 100%;
    max-width: 400px; /* Define uma largura máxima */
    background-color: var(--cinza-azulado); /* Cor de fundo semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px var(--cinza-escuro); /* Sombra ao redor */
    text-align: center; /* Centraliza o texto dentro do formulário */
    position: absolute;
}

/* 
   Centraliza o conteúdo do header no formulário
   - Define um layout flexível para centralizar o conteúdo do header.
*/
.header-primeirologin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.header-primeirologin img {
    width: 90px;
    height: 90px;
}
