html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; /* Impede a rolagem */
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cinza: #d6d6d6;
    --dark: #161616;
    --fundo : #aab5ca;
    --fundodark  :#192340;
    --fonte : #000;
    --fontedark : #fff;
}

.container1 {
    width: 100vw;
    height: 100vh;
    background-color: var(--cinza);
    background-image: url('imagemfundo.png');
    background-size: 70%; /* Tamanho da imagem */
    background-position: 145px calc(100% + -40px); /* Move a imagem mais para a esquerda e para baixo */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
    position: relative;
    overflow: hidden;
}



.container-senha {
    width: 400px; /* Defina a largura */
    height: 450px; /* Defina a altura */
    background: rgba(28, 32, 73, 0.7);
    border-radius: 10px;
    box-shadow: rgba(76, 80, 122, 0.7)
    0px 5px 15px;
    overflow: hidden;
    position: absolute; /* Mude para absolute */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição */
}

.container2 {
    width: 60%;
    height: 60%;
    position: absolute;
    bottom: -60%;
    border-radius: 50%;
    right: 20%;
    box-shadow: 0 0 230px 75px #1C2049;
}
body.light-mode {
    background-color: var(--cinza);
    color: var(--fonte);
}
body.dark-mode {
    background-color: var(--dark);
    color: var(--fontedark)
}
.none {
    display: none;
}
/* Adicionando estilo para posicionar o ícone do modo escuro à direita */
.darkmode img {
    position: fixed; 
    right: 10px; 
    top: 10px; 
    width: 40px; 
    height: 40px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1000; 
    cursor: pointer;
}


.darkmode img.none {
    opacity: 0; /* Ícone oculto */
    transform: scale(0.8); /* Reduz um pouco o tamanho */
}

.darkmode .sol-icon{
    background-color: var(--fontedark);
}



/* Certifique-se de que essas regras estejam no final do seu CSS para garantir que sejam aplicadas corretamente */
body.dark-mode {
    background-color: var(--dark);
    color: var(--fontedark);
}

/* Aplique cor do texto para outros elementos que não estão dentro do container */
.dark-mode .container1,
.dark-mode .container2 {
    background-color: var(--dark);}

/* Altere a cor dos textos em outros elementos que possam estar fora do container */
.dark-mode .titulo h2,
.dark-mode .container-senha .form-senha .input-senha span,
.dark-mode .container-senha .form-senha .links a {
    color: var(--fontedark); 
}

.darkmode img{
    z-index: 99;
}


.dark-mode .container-geral {
    background-color: var(--dark);
}

.dark-mode .container-senha {
    background: rgba(10, 10, 30, 0.8); 
}

.dark-mode .container-senha .form-senha {
    background: var(--fundodark);
}

.dark-mode .container-senha .form-senha .input-senha input,
.dark-mode .container-senha .form-senha .input-senha select {
    border-bottom: 2px solid  var(--fontedark);
    color: var(--fontedark);
}

/* 
   Estilos de texto no modo escuro
   - Define a cor dos textos em vários elementos do formulário.
*/
.dark-mode .container-senha .form-senha .h2-senha,
.dark-mode .container-senha .form-senha .input-senha span,
.dark-mode .container-senha .form-senha .links a {
    color: var(--fontedark);
}

/* 
   Estilo do botão de submit no modo escuro
   - Define a cor de fundo do botão.
*/
.dark-mode .container-senha .form-senha input[type="submit"] {
    background: #2c3653; 
}

/* 
   Estilo do ícone do sol no modo escuro
   - Aplica um filtro ao ícone.
*/
.dark-mode #sol-icon {
    filter: brightness(0) invert(1); 
}

/* 
   Efeitos de foco nos inputs
   - Define a animação de transição e cor dos labels quando o input é focado.
*/
.dark-mode .container-senha .form-senha .input-senha input:focus ~ span,
.dark-mode .container-senha .form-senha .input-senha input:valid ~ span {
    color: var(--fontedark);
    transform: translateY(-24px);
    font-size: 0.85em;
}

.dark-mode .container-senha .form-senha input[type="submit"] {
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: #384773;
}
.dark-mode #areas-senai{
    border-bottom: 2px solid var(--fontedark);
}
.dark-mode .container-senha form .inputBox span {
    color: #fff; /* Cor branca */
}


.dark-mode .container-senha form .inputBox input {
    color: var(--fontedark); 
    border-bottom: 2px solid var(--fontedark); 
}

.dark-mode .container-senha form .inputBox input::placeholder {
    color: var(--fontedark); /* Cor do placeholder */
}

.dark-mode .container-senha .form-senha .input-senha span {
    color: var(--fontedark); /* Cor do placeholder */
}



.dark-mode .container-senha form .inputBox input:focus ~ span,
.dark-mode .container-senha form .inputBox input:valid ~ span{
    color: var(--fonte);
}

.dark-mode > div > div.container1 > div.container-senha > form > div:nth-child(2) > span{
    color: var(--fontedark);
}
.dark-mode > div > div.container1 > div.container-senha > form > div:nth-child(3) > span{
    color: var(--fontedark);
}

.darkmode .container-senha form input[type="submit"] {
    margin-top: 20px;
    background: #2c3653;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.dark-mode .container-senha .form-senha input[type="submit"]:hover {
    background: #2c3653;
}

.dark-mode .voltar-login a{
    color: var(--fontedark);
}




.titulo {
    text-align: center; 
  
    
}

.titulo img {
    display: block; 
    margin: 0 auto; 
    width: 70px; 
    height: auto; 
    transform: scale(1.8);
}

.inputBox {
    position: relative;
    margin-top: 20px; /* Espaçamento entre os campos */
}

.inputBox input {
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.2em;
    border-bottom: 2px solid #000000;
    color: #000000;
}

.inputBox span {
    position: absolute;
    left: 0;
    top: -5px; /* Ajuste a posição para que o label fique acima do input */
    color: #000000;
    font-size: 1em;
    pointer-events: none;
    transition: 0.3s;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span {
    color: #000000;
    transform: translateY(-2opx);
    font-size: 0.85em;
}



/* Reset básico e estilo da fonte */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilo do corpo com imagem de fundo */

 
/* Gradiente animado no contorno da caixa */
.container-senha::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 450px;
    background: linear-gradient(90deg, transparent, transparent, rgb(62, 50, 139), #d7dbff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

/* Animação de rotação do gradiente */
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Formulário de senha */
.container-senha form {
    position: absolute;
    inset: 1.5px;
    background: #aab5ca;
    border-radius: 10px;
    padding: 30px 40px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    
}

/* Estilo do título do formulário */
.container-senha form h2 {
    color: #000000;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}



/* Campo de entrada com estilo animado */
.container-senha form .inputBox {
    position: relative;
    margin-top: 35px;
}

.container-senha form .inputBox input {
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
    font-size: 1.2em;
    border-bottom: 2px solid #000000;
    transition: 0.3s;
}

.container-senha form .inputBox span {
    position: absolute;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    color: #000000;
    font-size: 1.2em;
    transition: 0.3s;
}

.container-senha form .inputBox input:focus ~ span,
.container-senha form .inputBox input:valid ~ span {
    color: #000000;
    transform: translateY(-24px);
    font-size: 0.85em;
}

.container-senha form .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;

    transition: 0.3s;
}

.container-senha form .inputBox input:focus ~ i,
.container-senha form .inputBox input:valid ~ i {
    height: 44px;
}

.container-senha form .links {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-top: 20px; /* Adicione margem extra se necessário */
}

.container-senha form .links a {
    font-size: 0.9em;
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
}

/* Adicione uma nova regra para o link "Primeiro senha?" */
.container-senha form .links a:last-child {
    
    display: block; /* Faz com que o link ocupe toda a largura, se necessário */
}


.container-senha form .links a:hover {
    color: #000000;
}

/* Botão de envio */
.container-senha form input[type="submit"] {
    margin-top: 20px;
    background: #384773;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
}

.container-senha form input[type="submit"]:hover {
    background: #2c3653;
}

.btn-recuperacao {
    
    margin-top: 50px;
    margin-bottom: 20px;
    background: #384773;
    color: #fff;
    border: none;
    padding: 8px 20px;  /* Diminua o padding para reduzir o tamanho do botão */
    font-size: 0.9em;    /* Diminua o tamanho da fonte */
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
    align-items: center;
    display: inline-block;
    margin-left: 80px;
    font-weight: bold;
}

.btn-recuperacao:hover {
    background: #2c3653;
}



.voltar-login{
    margin-top: 30px;
}
.voltar-login a{
    font-size: 0.9em;
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
    font-weight: bold;
    cursor: pointer;
}
.voltar-login a:hover {
    text-decoration: underline;
}