
/* 
   Normalização do Navegador
   - Remove margens e paddings padrão de todos os elementos.
   - Define a caixa de todos os elementos como "box-sizing: border-box".
   - Remove o estilo de lista e a sublinha de links.
   - Define a fonte padrão 'Amatic SC'.
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: 'Amatic SC', sans-serif;
}

:root{
    --cinza: #ffffff;
    --bgdark: #161616;
    --fundo : #aab5ca;
    --fundodark  : #465E8C;
    --fonte : #000;
    --fontedark : #fff;
    --fundoresponsivo : #DBE7FF;
}


/* 
   Normalização do HTML e body
   - Define a largura e altura como 100% da viewport.
   - Ajusta a unidade rem para que 1rem seja equivalente a 10px.
   - Remove o overflow horizontal.
*/
html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.solicitacao {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Adicionado para alinhar os elementos em coluna */
    width: 100vw;
    height: 100vh;

}

.container-solicitacao {
    background-color: rgba(70, 94, 140, 0.51);
    padding: 50px;
    border-radius: 30px;
    max-width: 900px;
    width: 100%;
    height: 80%;
    overflow: auto;
    margin-bottom: 20px;
}

/* Título */
.titulo-solicitacao {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 40px; /* Ajustado para posicionar melhor o título */
}

/* Container da tabela */
.campo-solicitacao {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilo da tabela */
.tabela-solicitacao {
    width: 100%;
    border-collapse: collapse;
    background-color: #fdfdfd;
    border-radius: 10px;
    overflow: hidden;
    font-size: 15px;
}

.tabela-solicitacao th, .tabela-solicitacao td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.tabela-solicitacao th {
    background-color: #f0f0f0;
    font-size: 1.5rem;
    font-weight: bold;
}



/* Estilo para os botões */
.btn-solicitacao {
    display: flex;
    flex-direction: column; /* Organiza os botões um embaixo do outro */
    align-items: center; /* Centraliza os botões horizontalmente */
    gap: 10px; /* Espaço entre os botões */
}

.btn-aprovar, .btn-aguardo {
    display: block;
    width: 100px;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

.btn-aprovar {
    background-color: rgba(25, 35, 64, 1);
    color: #fff;
}

.btn-aguardo {
    background-color: rgba(25, 35, 64, 1);
    color: #fff;
}

.btn-aprovar:hover {
    background-color: rgba(25, 35, 64, 0.8);
    transform: scale(1.05);
}

.btn-aguardo:hover {
    background-color: rgba(25, 35, 64, 0.8);
    transform: scale(1.05);
}

  
  /* Mostra o novo layout responsivo */
  .campo-solicitacao.responsivo {
    display: none; /* Oculto por padrão */
  }

.status-retirado {
    color: rgb(136, 136, 136);
    font-weight: bold;
}

.status-aguardando {
    color: rgb(212, 0, 0);
    font-weight: bold;
}

.status-solicitado{
    color: rgb(255, 166, 0);
    font-weight: bold;
}

.status-disponivel{
    color: rgb(36, 179, 0);
    font-weight: bold;
}

.html .darkmode{
    background-color: var(--bgdark);
}

body.dark-mode {
    background-color: var(--bgdark);
}

.dark-mode .titulo-solicitacao{
    color: var(--fontedark);
}



.darkmode img {
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0px;  
    margin: 5px; 
}


.darkmode img.none {
    opacity: 0; /* Ícone oculto */
    transform: scale(0.8); /* Reduz um pouco o tamanho */
}

.darkmode .sol-icon{
    background-color: var(--fontedark);
}

/* Certifique-se de que essas regras estejam no final do seu CSS para garantir que sejam aplicadas corretamente */
body.darkmode {
    background-color: var(--bgdark);
    color: var(--fontedark);
}

.darkmode #sol-icon {
    filter: brightness(0) invert(1); 
}

.darkmode .campo-material{
    background-color: var(--fundodark);
}

.darkmode .tabela-solicitacao{
    color: var(--bgdark);
}

.darkmode .titulo-material{
    color: var(--fontedark);
}

.alerts{
    right: 8.5%;
}

#mobile{
    display: none;
}