/* 
   Normalização do Navegador
   - Remove margens e paddings padrão de todos os elementos.
   - Define a caixa de todos os elementos como "box-sizing: border-box".
   - Remove o estilo de lista e a sublinha de links.
   - Define a fonte padrão 'Amatic SC'.
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    font-family: 'Amatic SC', sans-serif;
}

/* 
   Normalização do HTML e body
   - Define a largura e altura como 100% da viewport.
   - Ajusta a unidade rem para que 1rem seja equivalente a 10px.
   - Remove o overflow horizontal.
*/
html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.titulo-requisicoes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.titulo-requisicoes img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

.titulo-requisicoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container-cards {
    text-align: center; /* Isso garante que tudo dentro deste contêiner esteja centralizado */
}

.section-requisicoes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--branco);
}


.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-azulado);
    padding: 50px;
    border-radius: 8px;
    max-width: 900px;
    width: 100%;
    height: 80%;
}

