:root {
    --preto: #000000;
    --azul-escuro: #004766;
    --azul-claro: #007EB4;
    --cinza: #404040;
    --branco: #FFFFFF;
    --cinza-azulado: #B1C4CC;
    --verde: #4BBF85;
    --vermelho: #E35F64;
    --cinza-escuro: #666565;
}
