
/* 
   Variáveis de Cores
   - Define cores para uso consistente em toda a folha de estilos.
*/
:root {
    --preto: #000000;            /* Preto */
    --azul-escuro: #192340;      /* Azul escuro */
    --azul-claro: #007EB4;       /* Azul claro */
    --cinza: #404040;            /* Cinza médio */
    --branco: #FFFFFF;           /* Branco */
    --cinza-azulado: #B1C4CC;    /* Cinza azulado */
    --verde: #4BBF85;            /* Verde */
    --vermelho: #E35F64;         /* Vermelho */
    --hover-background: #fff;     /* Cor de fundo ao passar o mouse */
    --hover-text: #161a2d;        /* Cor do texto ao passar o mouse */
}

