<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Materiais</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cadastro-materiais.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/medias/media-cadastro-materiais.css') }}">
    <script src="/static/javascript/darkmode.js"></script>
    <link rel="icon" href="/static/img/login-img/Inventlogo.png">
</head>
<body>
<main>
    {% include '/dashboard/dashboard.html' %}
    
    <div class="darkmode">
        <img src="/static/img/lua.png" alt="Modo Escuro" id="lua-icon" >
        <img src="/static/img/sol.png" alt="Modo Claro" class="none" id="sol-icon">
    </div>
    
    <section class="material">
        <div class="campo-material">
            <form class="form-material" method="POST" action="{{ url_for('cadastro_material') }}">
                <h1 class="titulo-material">Cadastro de Materiais</h1>

                <input class="input-material" name="nome_produto" type="text" placeholder="Nome do produto" required>
                <input class="input-material" name="descricao_produto" type="text" placeholder="Descrição do produto" required>
                
                <div class="estoques">
                    <input class="input-material" name="estoque_minimo" type="number" placeholder="Estoque mínimo" required>
                    <input class="input-material" name="codigo_produto" type="number" placeholder="Código Produto" required>
                </div>
                
                <select class="select-categoria" name="categoria" required>
                    <option value="">Categoria</option>
                    {% for categoria in categorias %}
                        <option value="{{ categoria | replace(' ', '_') }}">{{ categoria | replace('_', ' ') | capitalize }}</option>
                    {% endfor %}
                </select>
                
                
                
                
                
                
                
                
                
                
                
                <button class="btn-material" type="submit">Cadastrar</button>
            </form>
        </div>
    </section>

<script>
document.addEventListener("DOMContentLoaded", function() {
    // Pega todos os elementos <option> dentro do <select> com a classe 'select-categoria'
    const categorias = document.querySelectorAll('.select-categoria option');

    // Itera sobre cada opção
    categorias.forEach(function(option) {
        // Atualiza o valor do atributo value para substituir todos os espaços por underscores
        const originalValue = option.value; // Pega o valor original
        const formattedValue = originalValue.replace(/ /g, '_').toLowerCase(); // Substitui todos os espaços por underscores
        option.setAttribute('value', formattedValue); // Atualiza o valor da opção
    });
});

</script>

    
</main>
</body>
</html>
