<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/cadastro-materias.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/variaveis.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/medias/media-cadastro-item.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/login-img/Inventlogo.png">
    <title>Cadastro de Material</title>
</head>
<body>

    {% include '/dashboard/dashboard.html' %}
    <main>
        <section class="cadastro">
            <div class="campo-cadastro">
                <form class="form-cadastro" action="{{ url_for('cadastro_material') }}" method="POST">
                    <div class="titulo-cadastro">
                        <img src="/static/img/logo01.png" alt="logo">
                        <h2>Cadastro de Material</h2>
                    </div>

                    <div class="input_nome">
                        <input type="text" id="descricao" name="descricao" placeholder="Nome do produto" required>
                    </div>

                    <div class="input_categoria">
                        <select id="categoria" name="categoria" required>
                            <option value="">Categoria</option>
                            <option value="consumiveis">Consumíveis</option>
                            <option value="ferramentas">Ferramentas</option>
                            <option value="equipamentos">Equipamentos</option>
                        </select>
                    </div>


                    <div class="input_estoque">
                        <input type="number" id="estoque_minimo" name="estoque_minimo" min="0" placeholder="Estoque Mínimo" required>
                        <input type="number" id="estoque_maximo" name="estoque_maximo" min="0" placeholder="Estoque Máximo" required>
                    </div>

                    <div class="container-btn">
                        <button class="btn-cadastro" type="submit">Cadastrar</button>
                    </div>

                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class="flashes">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </form>
            </div>
        </section>
    </main>
</body>
</html>
