<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle de Estoque</title>

    <!-- Links para os arquivos CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/controle-estoque.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/medias/media-controle-estoque.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/variaveis.css') }}">

    <!-- Link para o jQuery UI para autocomplete -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    {% include 'dashboard/dashboard.html' %}
    <main>
        <section class="form-section">
            <h1>Controle de Estoque</h1>

            <h2>Registrar Entrada</h2>
            <form action="{{ url_for('registrar_entrada') }}" method="POST">
                <input type="text" id="search-material" placeholder="Pesquise o material" required>
                <input type="hidden" id="material_id" name="material_id">
                <br><br>

                <input type="number" id="quantidade" name="quantidade" min="1" placeholder="Quantidade" required><br>
                <div class="container-btn">
                    <button type="submit">Confirmar</button>
                </div>
            </form>

            <h2>Registrar Saída</h2>
            <form action="{{ url_for('registrar_saida') }}" method="POST">
                <input type="text" id="search-material-saida" placeholder="Pesquise o material" required>
                <input type="hidden" id="material_id_saida" name="material_id">
                <br><br>

                <input type="number" id="quantidade-saida" name="quantidade" min="1" placeholder="Quantidade" required><br>
                <div class="container-btn">
                    <button type="submit">Confirmar</button>
                </div>
            </form>
        </section>
    </main>

    <script>
        // Função para habilitar o autocomplete
        $(function () {
            var materiais = [
                {% for material in materiais %}
                    {
                        id: "{{ material.id }}",
                        label: "{{ material.descricao }} (Quantidade: {{ material.quantidade }})"
                    },
                {% endfor %}
            ];

            // Autocomplete para Registrar Entrada
            $("#search-material").autocomplete({
                source: materiais,
                select: function (event, ui) {
                    $("#material_id").val(ui.item.id);  // Armazena o id do material selecionado
                }
            });

            // Autocomplete para Registrar Saída
            $("#search-material-saida").autocomplete({
                source: materiais,
                select: function (event, ui) {
                    $("#material_id_saida").val(ui.item.id);  // Armazena o id do material selecionado
                }
            });
        });
    </script>
</body>

</html>
