<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/relatorios.css') }}">
    <link rel="icon" href="/static/img/login-img/Inventlogo.png">
    <script src="/static/javascript/darkmode.js"></script>
    <title>Relatórios</title>
    <style>

    </style>
</head>
<body>
    {% include '/dashboard/dashboard.html' %}
    <div class="darkmode">
        <img src="/static/img/lua.png" alt="Modo Escuro" id="lua-icon">
        <img src="/static/img/sol.png" alt="Modo Claro" class="none" id="sol-icon">
    </div>
    <div class="container">
        <h1>Relatórios</h1>
        <form method="POST">
            <select name="tipo_relatorio" id="tipo_relatorio">
                <option value="">Selecione o tipo de relatório:</option>
                <option value="estoque">Relatório de Estoque</option>
                <option value="movimentacao">Relatório de Movimentação</option>
                <option value="solicitacoes_usuario">Solicitações por Usuário</option>
                <option value="movimentacao_mensal">Movimentação Mensal</option>
            </select>
            <button type="submit">Gerar Relatório</button>
        </form>

        {% if relatorio %}
        <div class="graficos">
            <h3>Gráficos</h3>
    
            {% if tipo_relatorio == 'movimentacao_mensal' %}
                <canvas id="graficoMovimentacaoMensal"></canvas>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const ctx = document.getElementById('graficoMovimentacaoMensal').getContext('2d');
    
                        // Dicionário para mapear o número do mês para o nome do mês em português
                        const meses = [
                            "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", 
                            "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"
                        ];
    
                        const labelsMeses = [{% for item in relatorio %}'{{ item.Mes }}',{% endfor %}];

    
                        // Dados do gráfico
                        const dados = {
                            labels: labelsMeses,  // Usando os meses por extenso
                            datasets: [
                                {
                                    label: 'Total Entrada',
                                    data: [{% for item in relatorio %}{{ item.TotalEntrada }},{% endfor %}],
                                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 1
                                },
                                {
                                    label: 'Total Saída',
                                    data: [{% for item in relatorio %}{{ item.TotalSaida }},{% endfor %}],
                                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                    borderColor: 'rgba(255, 99, 132, 1)',
                                    borderWidth: 1
                                }
                            ]
                        };
    
                        // Criar o gráfico
                        const grafico = new Chart(ctx, {
                            type: 'bar',
                            data: dados,
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    });
                </script>
    
            {% endif %}


            {% if tipo_relatorio == 'estoque' %}
            <canvas id="graficoEstoque"></canvas>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const ctx = document.getElementById('graficoEstoque').getContext('2d');
                    
                    // Extrair os dados do relatório para o gráfico
                    const materiais = [{% for item in relatorio %}'{{ item.Material }}',{% endfor %}];
                    const quantidades = [{% for item in relatorio %}{{ item.QuantidadeAtual }},{% endfor %}];
        
                    const dados = {
                        labels: materiais,
                        datasets: [{
                            label: 'Quantidade em Estoque',
                            data: quantidades,
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        }]
                    };
        
                    const grafico = new Chart(ctx, {
                        type: 'bar',  // Tipo de gráfico
                        data: dados,
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                });
            </script>
        {% endif %}
        

            {% if tipo_relatorio == 'movimentacao' %}
                <canvas id="graficoMovimentacao"></canvas>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const ctx = document.getElementById('graficoMovimentacao').getContext('2d');
                        const dados = {
                            labels: [{% for item in relatorio %}'{{ item.Material }}',{% endfor %}],
                            datasets: [{
                                label: 'Quantidade Movimentada',
                                data: [{% for item in relatorio %}{{ item.Quantidade }},{% endfor %}],
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 1
                            }]
                        };
                        const grafico = new Chart(ctx, {
                            type: 'bar',
                            data: dados,
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                    });
                </script>

            {% endif %}

            {% if tipo_relatorio == 'solicitacoes_usuario' %}
                <canvas id="graficoSolicitacoesUsuario"></canvas>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const ctx = document.getElementById('graficoSolicitacoesUsuario').getContext('2d');
                        const dados = {
                            labels: [{% for item in relatorio %}'{{ item.Usuario }}',{% endfor %}],
                            datasets: [{
                                label: 'Total de Solicitações',
                                data: [{% for item in relatorio %}{{ item.TotalSolicitacoes }},{% endfor %}],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                ],
                                borderWidth: 1
                            }]
                        };
                        const grafico = new Chart(ctx, {
                            type: 'pie',
                            data: dados,
                            options: {
                                responsive: true,
                                plugins: {
                                    legend: {
                                        position: 'top',
                                    }
                                }
                            }
                        });
                    });
                </script>

            {% endif %}
            <h2>{{ relatorio_titulo }}</h2>
            <div class="tabela">
                <table>
                    <thead>
                        <tr>
                            {% for key in relatorio[0].keys() %}
                                <th>
                                    {% if key == 'TotalEntrada' %}
                                        Total Entrada
                                    {% elif key == 'TotalSaida' %}
                                        Total Saída
                                    {% elif key == 'Usuario' %}
                                        Usuário
                                    {% elif key == 'TotalSolicitacoes' %}
                                        Total Solicitações
                                    {% else %}
                                        {{ key }}
                                    {% endif %}
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    
                    
                    <tbody>
                        {% for item in relatorio %}
                            <tr>
                                {% for value in item.values() %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <script>
                function formatarData(data) {
                    const partes = data.split(' ');
                    const dataPartes = partes[0].split('-');
                    const horaPartes = partes[1];
            
                    return `${dataPartes[2]}/${dataPartes[1]}/${dataPartes[0]} ${horaPartes}`;
                }
            
                document.addEventListener('DOMContentLoaded', function () {
                    const tabela = document.getElementById('tabela-relatorio');
                    const linhas = tabela.getElementsByTagName('tr');
            
                    for (let i = 0; i < linhas.length; i++) {
                        const celulas = linhas[i].getElementsByTagName('td');
                        if (celulas.length > 0) {
                            const dataOriginal = celulas[0].textContent; // Pega a data da primeira célula
                            const dataFormatada = formatarData(dataOriginal);
                            celulas[0].textContent = dataFormatada; // Atualiza a célula com a data formatada
                        }
                    }
                });
            </script>


            </div>
        {% endif %}

    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
